body {
    /* background-color: #80ccdd; */
    display: flex;
    justify-content: center;
    align-items: center;  
    font-family: Arial, sans-serif;
    border: 2px solid #333;
    
}

.container {
    margin: 20px;
    width: 800px;
    background-color: #80ccdd;
    text-align: center;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}